<h1>Parts</h1>

<table>
 <tr>
	 <th>Manufacturer</th>
	 <th>MPN</th>
	 <th>Decription</th>
	 <th>Datasheet(link)</th>
 </tr>
<% @parts.each do |part| %>
		<tr>
			 <th><a href="<%= part_path(part) %>"><%= part.manufacturer %></th>
			 <th><%= part.mpn %></th>
			 <th><%= part.description %></th>
			 <th><%= part.datasheet %></th>
		</tr>
	 <% end %>
</table>

<h1>Previous View:</h1>

<h1>Parts</h1>

<ul>
	  <% @parts.each do |part| %>
		  <li>
        <a href="<%= part_path(part) %>">
		    <%= part.manufacturer %>
        <%= part.mpn %>
        <%= part.description %>
        <%= part.datasheet %>
       </li>
		<% end %>
	</ul>

<%= link_to "New Part", new_part_path %>
