<h1>New Part</h1>

	<%= form_with model: @part do |form| %>
	  <div>
		<%= form.label :manufacturer %><br>
		<%= form.text_field :manufacturer %>
	  </div>

	  <div>
		<%= form.label :mpn %><br>
		<%= form.text_field :mpn %>
	  </div>

	  <div>
		<%= form.label :description %><br>
		<%= form.text_field :manufacturer %>
	  </div>

	  <div>
		<%= form.label :datasheet %><br>
		<%= form.text_field :datasheet %>
	  </div>

	  <div>
		<%= form.submit %>
	  </div>
	<% end %>
