<h1>Here is Part <%= @part.id %>!</h1>
<ul>
      <%= @part.manufacturer %>
      <%= @part.mpn %>
      <%= @part.description %>
      <%= @part.datasheet %>
      <%= link_to "Edit", edit_part_path(@part) %>
      <%= link_to "Destroy", part_path(@part),
  				          method: :delete,
  				          data: { confirm: "Are you sure?" } %>
</ul>
